@font-face {
    font-family: speed;
    src: url(./images/fonts/SpeedballNo1NF-Bold.ttf);
}
@font-face {
    font-family: calli;
    src: url(./images/fonts/calligraphy/CalligraphyFLF.ttf);
}
@font-face {
    font-family: high;
    src: url(./images/fonts/highland-gothic/HighlandGothicFLF-Bold.ttf);
}
*
{
    margin: 0px;
    padding:0px;
    
}
.facility_banner
{
    height:70vh;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
} 
.facility_banner_img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.facility_banner_head
{
    position:absolute;
    top:20%;
    left:45%;
    font-size:2.7rem;
    /* font-family: speed; */
    color:white;
    background-color: rgba(0, 0, 0, .0);
}
.rooms_head1,.spa_head1,.gym_head1,.parlour_head1,.pool_head1,.spa_head1
{
    font-size:2.2rem;
    font-family: high;
    text-align: center;
    color:aqua;
    margin: 10px;
}
.rooms_para,.spa_para1,.gym_para,.parlour_para,.pool_para
{
    font-size:1.7rem;
    font-family: calli;
    text-indent: 30px;
    text-align: justify;
    line-height: 30px;
    word-spacing: 8px;
    font-weight: bolder;
    margin-left: 10%;
    margin-right: 10%;
}
.spa
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.spa_common
{
    height:330px;
    width:330px;
    transition: .3s;
    transform: rotate(0deg);
    box-shadow: 3px 3px 5px grey,-4px -4px 6px grey;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
}
.spa_common:hover
{
    transform: rotate(360deg);
}
.spa_common1
{
    padding:2px 10px;background-color: rgb(59, 173, 10);
    color: white;
    /* line-height: 27px; */
    border-top-left-radius:10px;
    display: none;
    padding:10px;
}
.spa_common > :first-child
{
    display: block;
    
}
.spa_common:hover > :first-child
{
    display: none;
    /* height:100px; */
    transform: rotate(360deg);
}
.spa_common:hover > :last-child
{
    display: block;
    transform: rotate(360deg);
   
}
.spa_img
{
    border-radius: 30px;
    height:100%;
    width: 100%;
}

.spa_para
{
    font-size:1rem;
    font-family:typo;
    text-align: center;
    word-spacing: 2px;
}
/* gym */
.gym_img_common
{
     display:flex;
    justify-content: center;
    align-items: center; 
    flex-wrap:wrap;
    margin:10px 10%;
}
.gym_img 
{
    height:200px;
    width:250px;
    margin:10px;
    border: 5px solid rgb(251, 255, 5);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey,2px 2px 3px grey;
    transform: skew(0deg);
    transition: .5s;
}
.gym_img:hover
{
    transform: skew(15deg);
}
/* parlour */
.parlour
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.parlour_common
{
    height:330px;
    width:330px;
    transition: .3s;
    transform: skew(0deg);
    box-shadow: 3px 3px 5px grey,-4px -4px 6px grey;
    margin: 15px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
}
.parlour_common:hover
{
    transform: skew(10deg);
}
.parlour_common1
{
    padding:2px 10px;background-color:rgb(31, 143, 255);
    color: white;
    /* line-height: 27px; */
    border-top-left-radius:10px;
    display: none;
    padding:10px;
}
.parlour_common > :first-child
{
    display: block;
    
}
.parlour_common:hover > :first-child
{
    display: none;
    /* height:100px; */
    transform: rotate(360deg);
}
.parlour_common:hover > :last-child
{
    display: block;
    transform: rotate(360deg);
   
}
.parlour_img
{
    border-radius: 30px;
    height:100%;
    width: 100%;
}
.parlour_head2
{
    font-family: high;
    color:black;
    text-align: center;
}
.parlour_para1
{
    font-size:1rem;
    font-family:typo;
    text-align: center;
    word-spacing: 2px;
    line-height: 28px;
}

.pool_img_common
{
     display:flex;
    justify-content: center;
    align-items: center; 
    flex-wrap:wrap;
    margin:10px 10%;
}
.pool_img_common1
{
    overflow: hidden;
    border: 5px solid rgb(140, 9, 233);
    height:200px;
    width:250px;transform: scale(1);
    border-radius: 20px;
    transition: .5s;
    margin:10px;
    box-shadow: 2px 2px 3px grey,2px 2px 3px grey;
}
.pool_img 
{
    height: 100%;
    width:100%;
    cursor: pointer;
}
.pool_img:hover
{
    transform: scale(1.5);
}








@media screen and (max-width:500px)

{
.facility_banner_head
{
   
    top:20%;
    left:25%;
    font-size:2.7rem;
}
.spa_common
{
    height:250px;
    width:250px;

}
.spa_para1,.gym_para,.parlour_para,.pool_para
{
    font-size: 2rem;
}
.pagination
{
    display: none;
}
}



@media screen and (min-width:750px) and (max-width:1000px)

{
.facility_banner_head
{
   
    top:20%;
    left:35%;
    font-size:3.3rem;
}
/* .spa_common
{
    height:250px;
    width:250px;

} */
.spa_para1,.gym_para,.parlour_para,.pool_para
{
    font-size: 3rem;
    line-height: 50px;
}
.rooms_head1,.spa_head1,.gym_head1,.parlour_head1,.pool_head1,.spa_head1
{
    font-size:3.2rem;
}
}



@media screen and (min-width:1200px) {

.facility_banner{
    height:77vh;
}
.gym_img_common{
    padding:0px 10%;
}
.parlour,.pool_img_common{
    padding:0px 10%;
}  
}