*
{
    padding: 0px;
    margin: 0px;
}
.nav-link,.dropdown-item,.btn-out
{
    font-size:1.2rem;
    font-weight:bold;
}
.btn-out
{
    margin-right: 50px;
}
.nav-link:hover
{
    background-color: rgb(228, 244, 251);
    
}
.carousel-item
{
    

}